<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Multiple Classifier</title>
    
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">

    <link rel="stylesheet" href="{% static 'assets/css/Elegant-Registration-Form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/vanilla-zoom.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Login-Form-Basic-icons.css' %}">

    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Elegant-Registration-Form.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
  
    
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="#"><strong><span style="color: rgb(13, 75, 63);">Melanoma Prognosis &amp; Care</span></strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/"><span style="color: rgb(13, 79, 66);">Home</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/#login"><span style="color: rgba(13, 79, 66, 0.6);">login</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/#analyzer"><span style="color: rgba(13, 79, 66, 0.6);">Skin cancer care</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/#aboutus"><span style="color: rgba(13, 79, 66, 0.6);">About Us</span></a></li>
                    
                    <li class="nav-item"><a class="nav-link active" href="/templates/contact-us.html"><span style="color: rgba(13, 79, 66, 0.6);">Contact Us</span></a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:8000/#login"><span style="color: rgba(13, 79, 66, 0.6);">{{user}}</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading" style="padding: 0%;">
                    
                </div>
                {% if submitted %}
                <br>
            <h1 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7);">Upload Successful!!!!!</span></h1>
            <br>
            <h2 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7);">Here are you results</span></h2>
            <br>
                    <p style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.6);">Our machine learning model has made the following analysis/prediction </span>&nbsp;</p>
            <div style="width: 100%;">
                <div style="width:100% ; display:flex;">
                <div style="width: 50%; text-align: center;"><img src="{{context.image.url}}" alt="no image" height="300px" width="300px"><br><br> <h4 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7); align-items: center;">Uploaded Image</span></h4></div>
                <div style="width: 50%; text-align: center;"><img src="{{context.image.url}}.jpg" alt="no image" height="300px" width="300px"> <br> <br><h4 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7); align-items: center;">De-Noised Image</span></h4></div>
            </div>
                <br>
                <br>
                <h2 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7);">Result : {{imagename}} </span></h2>
                <br>
                <br>
            <h2 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7);">Prediction : </span></h2>
                {% for i in results %}
                <h4 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7);"> {{i}} </span></h4>
                {% endfor %}


    </div>



                <br>
                <br>
<div id="cont" style="padding: 15px;
    text-align: center;

    margin: 20px;
    box-shadow: 1px 1px 5px 5px rgb(105, 104, 104);


    border-width: 15px; width: 60%; height: 100%;">




<canvas id="myChart" style="display: block; "></canvas>

</div>
                    <br>
                    <br>


                <button class="btn btn-primary" type="button" href='' onclick="location.href=''" style= "align-content: center;">Scan another image</button>
                <br>
                <br>
                <h4 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7);">Disclaimer : This is just a precautionary tool which is not medically certified. Consult a dermatologist for further concrete diagnosis </span></h4>
                
                            
            
            </div>
    
        {% else %}
        <br>
        <h2 class="text-info" style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.7); text-align: center;">Lesion Analyzer - Multi</span></h2>
        <br>
        <p style="text-align: center;"><span style="color: rgba(8, 105, 86, 0.6);text-align: center;">Upload a .jpg/.jpeg/.png image of your lesion </span>&nbsp;</p>
        <br>
        <p><span style="color: rgba(8, 105, 86, 0.6);text-align: center;">Guidelines for uploading the image : 
        </span>&nbsp;</p>  
        <li><span style="color: rgba(8, 105, 86, 0.6);text-align: center;"> Level your camera lens at the area of concern for your skin, about 35 centimetres away, directly just above area, and capture the part of the body it is on.
        </span>&nbsp;</li> 
        <li><span style="color: rgba(8, 105, 86, 0.6);text-align: center;">Adjust your camera to get a better close-up. Re-focus the lens (if necessary) by tapping the screen of your phone right before taking the photograph and employing the "3 second timer" trick.
        </span>&nbsp;</li>  
        <li><span style="color: rgba(8, 105, 86, 0.6);text-align: center;">Crop the image as much as possible to ensure the lesion/rash occupies the majority of the image
        </span>&nbsp;</li>  
        <br>
        <p><span style="color: rgba(8, 105, 86, 0.6);text-align: center;">Keep the images as clear and in focus as possible so that  accuracy of the output is not decreased.
        </span>&nbsp;</p>     
        
        <form style="border-top-color: rgba(8,105,86,0.95);" method = "post" enctype="multipart/form-data" action="">
                   {% csrf_token  %}

            <div class="mb-3"><label class="form-label" for="image">Upload image</label></div>
                <div>{{form.image}}</div>

        
                    <div style="width: 100%;  margin-top: 10px;">
                        
                    <div class="mb-3" style="width: 100%;"><label class="form-label" for="username">Enter the generated number</label></div>
                    <div>{{no}}</div>
                    <br>
                    {{ form.user}} 
                    <br>
                    </div>
                    
                    <div class="mb-3"></div><button class="btn btn-primary" type="submit">Upload</button>
                    
                </form>

                {% endif %}
            </div>
          <!----  <div class="imagedisplay">
                <img src="{{img}}" alt="no image">
            </div>

            {% if submitted %}
            Your file uploaded successfully
    
        {% else %}
        <form method = "post" enctype="multipart/form-data" action=""> 
            {% csrf_token %} 
            <div class="mb-3"><label class="form-label" for="name">Name</label></div>
            {{ form.image}} 
            <div class="mb-3"><label class="form-label" for="name">Name</label></div>
            {{form.user}}
            {{ form.image}} 
            {{form.user}}
            <button type="submit btn btn-secondary">Upload</button> 
        </form> 
    
    
        {% endif %}

    -->
       


            

        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>

    <script src="{% static 'assets/js/script.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="{% static 'assets/js/vanilla-zoom.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>

<script>

var xValues = ["Actinic keratosis", "Basal cell carcinoma", "Benign Keratoris","Dermatofibroma","Healthy Skin","melanocytic nevus","Melanoma","Squamous cell carcinoma","Vascular lesion"];
      var yValues = {{ data }};
      var barColors = ["#f34257","blue","orange","brown","pink","gray", "black", "#1ce9b6","green"];

new Chart("myChart", {
  type: "doughnut",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Prediction results"
    }

  }
  //plugins: [ChartDataLabels]
});
</script>
</body>
<script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js”></script>
<script src=”https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.2/chart.umd.js”></script>
</html>